.ipynb_checkpoints
__pycache__
archive
dece_input.dat
dece_input2.dat
dece_readme.txt
extraction-gnds
n-capture-gnds
nohup.out
spectra/Elli spectrum 20cm lambda.xls
spectra/bnc_spectra
spectra/spectra.eps
spectra/spectra.pdf
